.feature-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: .9rem;
    background-color: #f0f0f0; /* Background color */
  }
  
  .feature {
    text-align: center;
  }
  
  .feature img {
    width: 150px; /* Adjust image size as needed */
    margin-bottom: 10px;
    border-radius: 1rem;
    height: 5rem;
  }
  
  .feature h3 {
    font-size: 16px;
    margin: 0;
  }