.medicine_details {
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.medicine_details h3 {
  font-size: 17px;
  border-radius: .5rem;
  border: 1px solid #f0f0f0;
  background-color: #e6e4e4;
  width: 25rem;
  padding: .8rem;
  margin-bottom: 15px;
}

.medicine_details h1,
.medicine_details h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.medicine_details ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 15px;
}

.medicine_details li {
  line-height: 1.5;
}

.medicine_details p {
  margin-bottom: 10px;
}


@media (max-width: 468px) {
    
.medicine_details h3 {
    width: 10rem;

}
}  